<% if @response["name"] %>
	<h1>Detalles de: <%= @response["name"] %></h1>
<% else %>
	<h1>Detalles de: <%= @response["title"] %></h1>
<% end %>

<% @response.each do |key, value| %>
	<table class="table">
		<tbody>
			<tr>
				<td><strong><%= key %></strong></td>
				<% if value.class == Array %>
					<td>
						<% value.each do |tupla| %>
							<%= link_to tupla[0], consulta_especifica_path(direccion: tupla[1]) %>
						<% end %>
					</td>
				<%else %>
					<td><%=value%></td>
				<% end %>
			</tr>
		</tbody>
	</table>
<% end %>	

