<!DOCTYPE html>
<html>
  <head>
    <title>StarWars</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= form_tag("/search", method: "get") do %>
	  <%= label_tag(:texto, "Busqueda por nombres:") %>
	  <%= text_field_tag(:texto) %>
	  <%= submit_tag("Buscar") %>
	<% end %>
	<br>
	<br>
    <%= yield %>
  </body>
</html>
